
<footer class="footer ">

    <ul>

        <li class="am-u-lg-4 am-u-md-4 am-u-sm-12 part-5-li2">
            <div class="part-5-title" style="margin-bottom: 10px;font-size: 16px;">联系我们</div>
            <div class="part-5-words2">
                <span>地址:安徽省合肥市经济开发区桃花工业园汤口路与泰山路交口以南安徽省远信管件有限公司2幢车间</span>
                <span>电话:15856993974(涂先生)</span>
                <span>邮箱:965256718@qq.com</span>
            </div>
        </li>
        <li class="am-u-lg-4 am-u-md-4 am-u-sm-12 ">
            <div class="part-5-title">相关链接</div>
            <div class="part-5-words2">
                <ul class="part-5-words2-ul">
                    <li class="am-u-lg-4 am-u-md-6 am-u-sm-4"><a href="/SingCms/ychome.php?c=Index&a=index">首页</a></li>
                    <li class="am-u-lg-4 am-u-md-6 am-u-sm-4"><a href="/SingCms/ychome.php?c=Product&a=index">产品展示</a></li>
                    <li class="am-u-lg-4 am-u-md-6 am-u-sm-4"><a href="/SingCms/ychome.php?c=News&a=index&catid=3">新闻动态</a></li>
                    <li class="am-u-lg-4 am-u-md-6 am-u-sm-4"><a href="/SingCms/ychome.php?c=Customer&a=index">客户案例</a></li>
                    <li class="am-u-lg-4 am-u-md-6 am-u-sm-4"><a href="/SingCms/ychome.php?c=Aboutus&a=index">关于我们</a></li>
                    <li class="am-u-lg-4 am-u-md-6 am-u-sm-4"><a href="/SingCms/ychome.php?c=Recruit&a=index">招贤纳士</a></li>
                    <div class="clear"></div>
                </ul>
            </div>
        </li>
        <div class="clear"></div>
    </ul>

</footer>


</body>

</html>