

<include file="Index/header" />

<div class="toppic">
  <div class="am-container-1">
    <div class="toppic-title left">
      <i class="am-icon-paper-plane toppic-title-i"></i>
      <span class="toppic-title-span">关于我们</span>
      <p>About Us</p>
    </div>
    <div class="right toppic-progress">
      <span><a href="/SingCms/ychome.php?c=Index&a=index" class="w-white">首页</a></span>
      <i class=" am-icon-arrow-circle-right w-white"></i>
      <span><a href="/SingCms/ychome.php?c=Aboutus&a=index" class="w-white">关于我们</a></span>
    </div>
  </div>
</div>



<div class=" am-container-1">
  <div class="part-title part-title-mar">
    <a>
      <i class=" am-icon-paper-plane part-title-i"></i>
      <span class="part-title-span">关于宇承</span>
      <p>About YuCheng</p>
    </a>
  </div>
  <div class="company-intro">
    <p>自动化设备研发、生产加工、制造、安装、销售及售后服务；包装设备及材料、计量设备、五金交电、自动化设备配件的销售。（依法须经批准的项目，经相关部门批准后方可开展经营活动）</p>
    <p>自动化设备研发、生产加工、制造、安装、销售及售后服务；包装设备及材料、计量设备、五金交电、自动化设备配件的销售。（依法须经批准的项目，经相关部门批准后方可开展经营活动）</p>
    <p>自动化设备研发、生产加工、制造、安装、销售及售后服务；包装设备及材料、计量设备、五金交电、自动化设备配件的销售。（依法须经批准的项目，经相关部门批准后方可开展经营活动）</p>
  </div>
</div>
<div class="gray-li company-thought-all" >
  <div class=" am-container-1">
    <ul class="company-thought">
      <li >
        <div class="thought-all">
          <i class="am-icon-circle-o-notch"></i>
          <span>企业理念</span>
          <div class="thought-all-none">
            <h5>专注 专业</h5>
          </div>
        </div>

      </li>
      <li >
        <div class="thought-all">
          <i class="am-icon-hand-o-right"></i>
          <span>服务理念</span>
          <div class="thought-all-none">
            <h5>实务 用心</h5>
          </div>
        </div>
      </li>
      <li >
        <div class="thought-all">
          <i class="am-icon-bar-chart"></i>
          <span>发展方向</span>
          <div class="thought-all-none">
            <h5>精益求精</h5>
          </div>
        </div>
      </li>
      <div class="clear"></div>
    </ul>
  </div>
</div>




<div class=" am-container-1">
  <div class="part-title part-title-mar">
    <a>
      <i class=" am-icon-comments-o part-title-i"></i>
      <span class="part-title-span">联系我们</span>
      <p>Contact Us</p>
    </a>
  </div>
</div>
<div class="gray-li">
  <div class=" am-container-1">

    <div class="contact-us">
      <div class="am-u-lg-6 am-u-md-6 am-u-sm-12">
        <img src="PublicYc/img/map.png" />

      </div>
      <div class="am-u-lg-6 am-u-md-6 am-u-sm-12">
        <ul class="contact-add">
          <li>
            <div><i class=" am-icon-map-marker"></i><span class="contact-add-1">安徽省合肥市经济开发区桃花工业园汤口路与泰山路交口以南安徽省远信管件有限公司2幢车间</span></div>
          </li>
          <li>
            <div><i class=" am-icon-mobile mobile"></i><span>15856993974(涂先生)</span></div>
          </li>
          <li>
            <div><i class=" am-icon-envelope-o"></i><span>965256718@qq.com</span></div>
          </li>
        </ul>
      </div>

      <div class="clear"></div>
    </div>
  </div>
</div>

<script>
  $('.hw-menu .hw-menu-about').addClass("hw-menu-active");
</script>



<include file="Index/footer" />
